<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/src/lib/fa6/fontawesome-free-6.2.0-web/css/all.css">
        <link rel="stylesheet" href="/src/lib/mdb4/css/bootstrap.css">
        <link rel="stylesheet" href="/src/lib/mdb4/css/mdb.css">
        <link rel="stylesheet" href="/src/lib/mdb4/css/addons/datatables.min.css">
        <style>
            .double-nav .breadcrumb-dn {
    color: #fff;
}
.side-nav.wide.slim .sn-ad-avatar-wrapper a span {
  display: none;
}
        </style>
    </head>
<body class="fixed-sn mdb-skin">

  <!--Double navigation-->
 <header id="header"></header>
  <!--/.Double navigation-->

  <!--Main Layout-->
  <main class="mt-1">
    <div class="container-fluid panel-scroll">

        <div id="container">
        <div class="row col col-12 col-sm-12 col-md-12 col-lg-12 ml-auto mr-auto float-none pl-1 pr-0">
            <div class="col col-12 p-0">
                <div class="card card-cascade narrower ml-2 mr-2 mb-1 ">
                    <div class="view view-cascade gradient-card-header blue-gradient d-flex p-0  " style="font-size: 22px;">
                        <div class=" w-100 text-uppercase text-md-right" style="transform: translateX(115px) translateY(22px); ">BỘ NHỚ ĐIỆN THOẠI</div>
                       <div class=" w-100 text-md-right  align-items-center"><button type="button" class="btn  align-items-start" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa-solid fa-square-plus text-light" style="font-size: 35px;"></i>

</button></div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">

  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
  <div class="modal-dialog modal-dialog-centered" role="document">


    <div class="modal-content">
      <div class="modal-header text-black-50">
        <h5 class="modal-title" id="exampleModalLongTitle">Thêm mới bộ nhớ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-black-50">
        <div class="md-form form-lg">
  <input type="text" id="inputLGEx" class="form-control form-control-lg">
  <label for="inputLGEx">Mã bộ nhớ</label>
</div>
      </div>
          <div class="modal-body text-black-50">
        <div class="md-form form-lg">
  <input type="text" id="inputLGEx" class="form-control form-control-lg">
  <label for="inputLGEx">Tên bộ nhớ</label>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary">Lưu thay đổi</button>
      </div>
    </div>
  </div>
</div>
                    </div>

                    <div id="card-body-main" class="card-body card-body-cascade "
                         style="padding: 1.25rem 5px;">
                        <div id="config_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                 <div class="col-sm-12">
                                    <div class="col col-12 col-sm-12 col-md-12 col-lg-10 ml-auto mr-auto">
<!-- Horizontal material form -->
<!-- Material column sizing form -->
 <div class="row w-100 mx-auto text-dark"  style="font-size: 20px; ">
                  <div class="col-4 my-3 ">
                    <a href="">
                      <!-- Card -->
                      <div class="card">
                        <div class="card-header">
 <div class="font-weight-bold ">
                                <a class=" align-items-center ">128GB</a>

                            </div>
                        </div>
                      <div class="card-body ">


                            <div class=" d-flex  flex-column  ">
                                  <button class=" justify-content-center btn btn-sm btn-light pink-text font-weight-bold  btn-rounded "  style="font-size: 17px; "><i class="fa-regular fa-eye pr-1 " ></i>xem</button>
                                <button   style="font-size: 17px; " class="btn btn-sm btn-light blue-text font-weight-bold btn-rounded "><i class="fa-solid fa-pen pr-1 "></i>sửa</button>
                            <button  style="font-size: 17px; " class="btn btn-sm btn-light text-danger font-weight-bold btn-rounded "><i class="fa-solid fa-trash-can pr-1"></i>xóa</button>
                            </div>
</div>


                        </div>

                      <!-- Card -->
                    </a>

                  </div>
                       <div class="col-4 my-3 ">
                    <a href="">
                      <!-- Card -->
                      <div class="card">
                        <div class="card-header">
 <div class="font-weight-bold ">
                                <a class=" align-items-center ">256GB</a>

                            </div>
                        </div>
                      <div class="card-body ">


                            <div class=" d-flex  flex-column  ">
                                  <button class=" justify-content-center btn btn-sm btn-light pink-text font-weight-bold  btn-rounded "  style="font-size: 17px; "><i class="fa-regular fa-eye pr-1 " ></i>xem</button>
                                <button   style="font-size: 17px; " class="btn btn-sm btn-light blue-text font-weight-bold btn-rounded "><i class="fa-solid fa-pen pr-1 "></i>sửa</button>
                            <button  style="font-size: 17px; " class="btn btn-sm btn-light text-danger font-weight-bold btn-rounded "><i class="fa-solid fa-trash-can pr-1"></i>xóa</button>
                            </div>
</div>


                        </div>

                      <!-- Card -->
                    </a>

                  </div>
                      <div class="col-4 my-3 ">
                    <a href="">
                      <!-- Card -->
                      <div class="card">
                        <div class="card-header">
 <div class="font-weight-bold ">
                                <a class=" align-items-center ">512GB</a>

                            </div>
                        </div>
                      <div class="card-body ">


                            <div class=" d-flex  flex-column  ">
                                  <button class=" justify-content-center btn btn-sm btn-light pink-text font-weight-bold  btn-rounded "  style="font-size: 17px; "><i class="fa-regular fa-eye pr-1 " ></i>xem</button>
                                <button   style="font-size: 17px; " class="btn btn-sm btn-light blue-text font-weight-bold btn-rounded "><i class="fa-solid fa-pen pr-1 "></i>sửa</button>
                            <button  style="font-size: 17px; " class="btn btn-sm btn-light text-danger font-weight-bold btn-rounded "><i class="fa-solid fa-trash-can pr-1"></i>xóa</button>
                            </div>
</div>


                        </div>

                      <!-- Card -->
                    </a>

                  </div>

                </div>
<!-- Material column sizing form -->
<!-- Horizontal material form -->
</div>
</div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
  </main>
  <script src="/src/js/admin/header.js"></script>
  <!--Main Layout-->
  <script src="/src/lib/mdb4/js/jquery.js"></script>
  <script src="/src/lib/mdb4/js/popper.js"></script>
  <script src="/src/lib/mdb4/js/mdb.js"></script>
  <script src="/src/lib/mdb4/js/bootstrap.js"></script>
  <script src="/src/lib/mdb4/js/addons/datatables.min.js"></script>
  <script>
    $(document).ready(function() {

  // SideNav Initialization
  $(".button-collapse").sideNav({
		slim: true});
  new WOW().init();

$('#dtBasicExample').DataTable();
$('.dataTables_length').addClass('bs-select');


})
  </script>
</body>

</html>
