<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/src/lib/fa6/fontawesome-free-6.2.0-web/css/all.css">
        <link rel="stylesheet" href="/src/lib/mdb4/css/bootstrap.css">
        <link rel="stylesheet" href="/src/lib/mdb4/css/mdb.css">
        <link rel="stylesheet" href="/src/lib/mdb4/css/addons/datatables.min.css">
        <style>
            .double-nav .breadcrumb-dn {
    color: #fff;
}
.side-nav.wide.slim .sn-ad-avatar-wrapper a span {
  display: none;
}
        </style>
    </head>
<body class="fixed-sn mdb-skin">

  <!--Double navigation-->
 <header id="header"></header>
  <!--/.Double navigation-->

  <!--Main Layout-->
  <main class="mt-1">
    <div class="container-fluid panel-scroll">

        <div id="container">
        <div class="row col col-12 col-sm-12 col-md-12 col-lg-12 ml-auto mr-auto float-none pl-1 pr-0">
            <div class="col col-12 p-0">
                <div class="card card-cascade narrower ml-2 mr-2 mb-1 ">
                    <div class="view view-cascade gradient-card-header blue-gradient d-flex  p-0">
                       <div class=" w-100 text-uppercase text-md-right" style="transform: translateX(115px) translateY(22px); ">DANH SÁCH HÃNG ĐIỆN THOẠI</div>
                       <div class=" w-100 text-md-right  align-items-center"><button type="button" class="btn  align-items-start" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa-solid fa-square-plus text-light" style="font-size: 35px;"></i>

</button></div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">

  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
  <div class="modal-dialog modal-dialog-centered" role="document">


    <div class="modal-content">
      <div class="modal-header text-black-50">
        <h5 class="modal-title" id="exampleModalLongTitle">Thêm hãng điện thoại</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-black-50">
        <div class="md-form form-lg">
  <input type="text" id="inputLGEx" class="form-control form-control-lg">
  <label for="inputLGEx">Mã</label>

</div>
   <div class="md-form form-lg">
  <input type="text" id="inputLGEx" class="form-control form-control-lg">
  <label for="inputLGEx">Tên</label>

</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary">Lưu thay đổi</button>
      </div>
    </div>
  </div>
</div>
</div>
                    <div id="card-body-main" class="card-body card-body-cascade "
                         style="padding: 1.25rem 5px;">
                        <div id="config_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                 <div class="col-sm-12">
                                    <div class="col col-12 col-sm-12 col-md-12 col-lg-10 ml-auto mr-auto">
<!-- Horizontal material form -->
<!-- Material column sizing form -->

<!-- Material column sizing form -->
<!-- Horizontal material form -->
</div>
</div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col col-12 col-sm-12 col-md-12 col-lg-10 ml-auto mr-auto">
                                        <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th width="0px">Mã dòng</th>
                                                <th>Tên dòng</th>
                                                <th>mã hãng của dòng</th>
                                                <th>ngày cập nhật</th>
                                                <th>hình ảnh</th>
                                                <th>Thao tác</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td  class="align-middle justify-content-center">123</td>
                                                    <td class="align-middle justify-content-center">ipone 14 seri</td>
                                                    <td class="align-middle justify-content-center">222</td>
                                                    <td class="align-middle justify-content-center">22/11/1992 </td>
      <td class="align-middle justify-content-center">    <img src="https://images.fpt.shop/unsafe/fit-in/1200x300/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/11/25/638049764433378315_F-C1_1200x300.png" style="width: 50px; height: 20px;" alt=""></td>
                                                    <td class="align-middle justify-content-center" style="font-size: 20px;">
                                                        <i class="fa-solid fa-eye text-default"></i>
                                                        <a href="/src/views/admin/manaEdit/manabrandEdit .html" class="fa-solid fa-pencil blue-text font-weight-bold"
                                                           aria-hidden="true"></a>
                                                       <i class="fa-solid fa-trash text-danger">
                                                            <input type="hidden" id="url"
                                                                   value="">
                                                            <input type="hidden" name="_token" id="_token"
                                                                   value="">
                                                        </i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
  </main>
  <script src="/src/js/admin/header.js"></script>
  <!--Main Layout-->
  <script src="/src/lib/mdb4/js/jquery.js"></script>
  <script src="/src/lib/mdb4/js/popper.js"></script>
  <script src="/src/lib/mdb4/js/mdb.js"></script>
  <script src="/src/lib/mdb4/js/bootstrap.js"></script>
  <script src="/src/lib/mdb4/js/addons/datatables.min.js"></script>
  <script>
    $(document).ready(function() {

  // SideNav Initialization
  $(".button-collapse").sideNav({
		slim: true});
  new WOW().init();

$('#dtBasicExample').DataTable();
$('.dataTables_length').addClass('bs-select');


})
  </script>
</body>

</html>
