<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/src/lib/fa6/fontawesome-free-6.2.0-web/css/all.css">
        <link rel="stylesheet" href="/src/lib/mdb4/css/bootstrap.css">
        <link rel="stylesheet" href="/src/lib/mdb4/css/mdb.css">
        <style>
            .double-nav .breadcrumb-dn {
    color: #fff;
}
.side-nav.wide.slim .sn-ad-avatar-wrapper a span {
  display: none;
}
        </style>
    </head>
<body class="fixed-sn mdb-skin">

  <!--Double navigation-->
 <header id="header"></header>
  <!--/.Double navigation-->

  <!--Main Layout-->
  <main class="mt-1">
      <div class="container-fluid panel-scroll">

          <div id="container">
           <div class="d-flex justify-content-between">
            <h2>quan ly trang thai user</h2>
             <button class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#add">thêm</button>
           </div>
                <div id="action">
                            <div class="modal fade" id="add" role="dialog">
                                <div class=" modal-dialog modal-lg" role="document">
                                    <!-- Modal content-->
                                    <form method="post" action=""
                                          enctype="multipart/form-data">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">THÊM SẢN PHẨM</h4>
                                            </div>
                                            <div class="modal-body data">


                                                <table width="100%" align="center" class="table-bordered">
                                                    <tr>
                                                        <td>ten</td>
                                                        <td><input type="text" id="defaultContactFormName" class="form-control " placeholder="Name"></td>
                                                    </tr>
                                                     <tr>
                                                        <td>ten</td>
                                                        <td><input type="text" id="defaultContactFormName" class="form-control " placeholder="Name"></td>
                                                    </tr>

                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="submit" class="btn btn-danger ">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">
                                                    Đóng
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
        <div class="row col col-12 col-sm-12 col-md-12 col-lg-12 ml-auto mr-auto float-none pl-1 pr-0">
            <div class="col col-12 p-0 ">
                <div class="col-4 p-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title text-center">
                                <a>Card titasdddddddddddddddle</a>
                            </div>

                            <div class="text-center">
                                  <button class="btn btn-sm btn-warning">xem</button>
                                <button class="btn btn-sm btn-default">sửa</button>
                            <button class="btn btn-sm btn-danger">xóa</button>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
  </main>
  <script src="/src/js/admin/header.js"></script>
  <!--Main Layout-->
  <script src="/src/lib/mdb4/js/jquery.js"></script>
  <script src="/src/lib/mdb4/js/popper.js"></script>
  <script src="/src/lib/mdb4/js/mdb.js"></script>
  <script src="/src/lib/mdb4/js/bootstrap.js"></script>

</body>

</html>
