<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    	<link rel="stylesheet" href="/src/lib/mdb4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/src/css/owl.carousel.min.css">
			<link rel="stylesheet" href="/src/lib/mdb4/css/mdb.min.css">
	<link rel="stylesheet" href="/src/lib/fa6/fontawesome-free-6.2.0-web/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="/src/css/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="/src/css/hover-min.css">
	<link rel="stylesheet" type="text/css" href="/src/css/product.css">
	<link rel="stylesheet" type="text/css" href="/src/css/custom.css">
</head>
<body>


<button
        type="button"
        class="btn btn-danger btn-floating "
        id="btn-back-to-top"
       style=" position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;" >
  <i class="fas fa-arrow-up"></i>
</button>


<header id="header"></header>

<main>
	<div class="container">
		<div id="breadcrumb"></div>
<section class="my-5">

				<div class="row">
					<div class="col-6 mx-auto">
						<h3 class="font-weight-light text-danger">
							nhập mã code đã gửi đến mail dá
						</h3>
						<div class="card">
							<div class="card-body">
			<div class="input-group input-group-lg ">
  <input type="text" class="form-control " placeholder="write code in mail" aria-label=""
    aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect" type="button" id="button-addon2">submit</button>
  </div>
</div>
							</div>
						</div>

</div>


					</div>

		</section>


	</div>

</main>


<footer id="footer" class="p-4 border-top  bg-white"></footer>

<script src="/src/js/header.js"></script>
<script src="/src/js/footer.js"></script>
<script type="text/javascript" src="/src/lib/mdb4/js/jquery.min.js"></script>
<script src="/src/lib/mdb4/js/popper.min.js"></script>
<script src="/src/lib/mdb4/js/bootstrap.min.js"></script>
<script src="/src/lib/mdb4/js/mdb.min.js"></script>
	<script type="text/javascript" src="/src/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/src/js/product.js"></script>
	<script src="/src/js/breadcrumb.js"></script>
	<script src="/src/js/backtop.js"></script>
</body>
</html>
