<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/src/lib/fa6/fontawesome-free-6.2.0-web/css/all.css">
        <link rel="stylesheet" href="/src/lib/mdb4/css/bootstrap.css">
        <link rel="stylesheet" href="/src/lib/mdb4/css/mdb.css">
        <link rel="stylesheet" href="/src/lib/mdb4/css/addons/datatables.min.css">
        <style>
            .double-nav .breadcrumb-dn {
    color: #fff;
}
.side-nav.wide.slim .sn-ad-avatar-wrapper a span {
  display: none;
}
        </style>
    </head>
<body class="fixed-sn mdb-skin">

  <!--Double navigation-->
 <header id="header"></header>
  <!--/.Double navigation-->

  <!--Main Layout-->
  <main class="mt-1">
    <div class="container-fluid panel-scroll">

        <div id="container">
        <div class="row col col-12 col-sm-12 col-md-12 col-lg-12 ml-auto mr-auto float-none pl-1 pr-0">
            <div class="col col-12 p-0">
                <div class="card card-cascade narrower ml-2 mr-2 mb-1 ">
                    <div class="view view-cascade gradient-card-header blue-gradient d-flex  ">
                        <div class="text-center w-100 text-uppercase">CHỈNH SỬA HÃNG SẢN PHẨM</div>

                    </div>
                    <div id="card-body-main" class="card-body card-body-cascade "
                         style="padding: 1.25rem 5px;">
                        <div id="config_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                 <div class="col-sm-12">
                                    <div class="col col-12 col-sm-12 col-md-12 col-lg-10 ml-auto mr-auto">
<!-- Horizontal material form -->
<!-- Material column sizing form -->
<form>
  <!-- Grid row -->
  <div class="form-group row py-3">
    <!-- Default input -->
    <label for="inputEmail3" class="col-sm-2 col-form-label font-weight-bold ">Tên hãng </label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" >
    </div>
  </div>
  <div class="form-group row py-3">
    <!-- Default input -->
    <label for="inputEmail3" class="col-sm-2 col-form-label font-weight-bold ">Mã hãng </label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" >
    </div>
  </div>
 
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="form-group d-flex float-right py-4">
      <button type="submit" class="btn btn-primary btn-md">Cập nhật và đóng</button>
      <button type="submit" class="btn btn-danger btn-md">Đóng</button>
  </div>
  <!-- Grid row -->
</form>
<!-- Material column sizing form -->
<!-- Horizontal material form -->
</div>
</div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
  </main>
  <script src="/src/js/admin/header.js"></script>
  <!--Main Layout-->
  <script src="/src/lib/mdb4/js/jquery.js"></script>
  <script src="/src/lib/mdb4/js/popper.js"></script>
  <script src="/src/lib/mdb4/js/mdb.js"></script>
  <script src="/src/lib/mdb4/js/bootstrap.js"></script>
  <script src="/src/lib/mdb4/js/addons/datatables.min.js"></script>
  <script>
    $(document).ready(function() {

  // SideNav Initialization
  $(".button-collapse").sideNav({
		slim: true});
  new WOW().init();

$('#dtBasicExample').DataTable();
$('.dataTables_length').addClass('bs-select');


})
  </script>
</body>

</html>
